*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1578spx;
    margin: 0 auto;
}

.intro-head{
    font-size: 80pt;
    color: rgba(0, 0, 0, 255);
}
.ramda-color{
    color:#4BCAFF;
}
.header-paragraphs:hover {
    background:#222F3A;
}
 .header-paragraphs{
     font-size: 24pt;
     color: rgba(255, 255, 255, 255);
     display: inline-block;
     padding:16px 44px;
 }

.pvw-title{
    background:#35444F;
    margin-top: 45px;
    color:white;
    text-align: center;
    height: 69px;
    width: 1280px;
}

.side-menu{
    margin-top: 51px;
    width:333px;
    height:399px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;

}

.side-menu-paragraph {
    font-size: 29PX;
    color: rgba(72, 88, 99, 255);
    padding: 24px 44px;

}
.side-menu-paragraph:hover {
    background:#808080;
}
.main-img{
    margin-top: 51px;
    margin-left: 52px;
    width:885px;
    height:529px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}
.fone{
    width:320px;
    text-align: center;
    display: inline-block;
    height:381px;
    padding: 75px 297px;
}
.fone:hover{
    transform: scale(1.2);
}
.text {
    font-size: 18pt;
    display: inline-block;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    padding-left: 463px;
    padding-top: 50px;
    width: 815px;
    height: 114px;
}
.text-paragraf{
    font-size: 18pt;
    display: inline-block;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    padding-left: 463px;
    padding-top: 31px;
    width: 815px;
    height: 114px;
}
.last-text{
    color:white;
    display: inline-block;
    text-align: left;
    height: 69px;
}
.text-exit{
    background:#808080;
    display: inline-block;
    margin-top: 50px;
    width: 1280px;
}
.last{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    padding: 16px 13px;
}
.text-irl{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    margin-left: 80px;
}
a{
    color: dodgerblue;
}